<!-- <div class="login-container">
  <form [formGroup]="form">
    <div class="username">
      <label for="username">Username:</label>
      <input class="usernameInput" type="text" id="username" formControlName="username">
    </div>
    <div class="password">
      <label for="password">Password:</label>
      <input class="passwordInput" type="password" name="password" id="password" formControlName="password">
    </div>
    <input class="login" type="submit" value="Login" (click)="submit()">
  </form>
  <div style="text-align: center;">
    <p>username: admin</p>
    <p>password: admin123</p>
  </div>
</div> -->

<section>
  <main>
    <div class="wrapper">
      <div class="heading">
        <h1>Login</h1>
      </div>
      <form [formGroup]="form" class="form-group">
        <input type="text" placeholder="username" formControlName="username">
        <input type="password" placeholder="password" formControlName="password">
        <button type="submit" class="btn btn-primary" (click)="submit()">log in</button>
      </form>
      <p>username: admin</p>
      <p>password: admin123</p>
    </div>
  </main>

</section>
