/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.login-container{
  max-width: 520px;
  padding: 25px;
  border: solid black 1px;
  margin: auto;
  margin-top: 200px;
}

form{
  display: flex;
  flex-direction: column;

}

.username{
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.usernameInput{
  width: 200px;
  margin: auto;
}

.password{
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.passwordInput{
  width: 200px;
  margin: auto;
}

.login{
  padding: 10px;
  width: 200px;
  margin:auto;
} */


main {
	width: 100vw;
	height: 100vh;
	background: #f3e0e2;
	display: grid;
	place-content: center;
}
.wrapper {
	width: 15rem;
	padding: 2.1rem 2rem;
	border-radius: 0.7rem;
	display: flex;
	flex-direction: column;
	background: #fff;
	justify-items: center;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.wrapper .heading h1 {
	font-weight: 700;
	font-size: 2rem;
  margin-bottom: 15px;
}

.form-group {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
  margin-bottom: 15px;
}
.form-group p {
	font-size: 0.9rem;
	opacity: 0.9;
	color: #212121;
	margin-bottom: 0.3rem;
}
.form-group > input {
	padding: 0.7rem 0.1rem;
	margin-bottom: 0.9rem;
	border: none;
	width: 100%;
}
.form-group > input:focus {
	background: #eee;
}
.form-group > ::placeholder {
	background: #eeeeee;
	padding: 0.7rem 0.2rem;
	text-transform: capitalize;
}
.btn {
	font-size: 0.9rem;
	text-decoration: none;
}
.btn-forget {
	color: #212121;
	margin-bottom: 1rem;
}
.btn-primary {
	background: steelblue;
	padding: 0.6rem 2.4rem;
	text-transform: uppercase;
	color: #fff;
	border-radius: 2rem;
	font-weight: 700;
	border: 1px solid steelblue;
	transition: all 200ms linear;

}
.btn-primary:hover {
	background: #fff;
	color: steelblue;
	border: 1px solid steelblue;
}

